## <font color='yellow'>Nave titanic</font>

In [188]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder #para tratamento de atributos categóricos, transforma string em número
from sklearn.preprocessing import OneHotEncoder #codificar os valores das variáveis para evitar interpretação errada do algorítmo
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler #para padronização dos dados
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score, KFold # validaçaõ cruzada

In [189]:
nave_train = pd.read_csv('train.csv')
nave_test = pd.read_csv('test.csv')

In [190]:
nave_completo = pd.concat([nave_train, nave_test], ignore_index=True)
nave_completo

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [194]:
PassengerGrupos = nave_completo['PassengerId'].str.split('_', expand=True)[0]
PassengerNumeros = nave_completo['PassengerId'].str.split('_', expand=True)[1]
CabinDeck = nave_completo['Cabin'].str.split('/', expand=True)[0]
CabinNum = nave_completo['Cabin'].str.split('/', expand=True)[1]
CabinSide = nave_completo['Cabin'].str.split('/', expand=True)[2]

In [195]:
nave_completo['PassengerGrupo'] = PassengerGrupos
nave_completo['PassengerNumero'] = PassengerNumeros
nave_completo['CabinDeck'] = CabinDeck
nave_completo['CabinNum'] = CabinNum
nave_completo['CabinSide'] = CabinSide
nave_completo = nave_completo[['PassengerGrupo', 'PassengerNumero', 'HomePlanet', 'CryoSleep', 'CabinDeck',
                               'CabinNum', 'CabinSide','Destination', 'Age', 'VIP', 'RoomService', 
                               'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']]

In [220]:
nave_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PassengerGrupo   12970 non-null  object
 1   PassengerNumero  12970 non-null  object
 2   HomePlanet       12970 non-null  object
 3   CryoSleep        12660 non-null  object
 4   CabinDeck        12671 non-null  object
 5   CabinNum         12671 non-null  object
 6   CabinSide        12671 non-null  object
 7   Destination      12696 non-null  object
 8   Age              12700 non-null  float64
 9   VIP              12674 non-null  object
 10  RoomService      12707 non-null  float64
 11  FoodCourt        12681 non-null  float64
 12  ShoppingMall     12664 non-null  float64
 13  Spa              12686 non-null  float64
 14  VRDeck           12702 non-null  float64
 15  Name             12676 non-null  object
 16  Transported      8693 non-null   object
dtypes: float64(6), object(11)
memory usage: 1.7+ MB

In [222]:
nave_completo.isnull().sum()

PassengerGrupo        0
PassengerNumero       0
HomePlanet            0
CryoSleep           310
CabinDeck           299
CabinNum            299
CabinSide           299
Destination         274
Age                 270
VIP                 296
RoomService         263
FoodCourt           289
ShoppingMall        306
Spa                 284
VRDeck              268
Name                294
Transported        4277
dtype: int64

In [ ]:
nave_completo['HomePlanet'].fillna('Earth', inplace=True)
nave_completo['CryoSleep'].fillna('False', inplace=True)
nave_completo['CabinDeck'].fillna('F', inplace=True)
nave_completo['CabinNum'].fillna('Earth', inplace=True)
nave_completo['CabinSide'].fillna('Earth', inplace=True)
nave_completo['Destination'].fillna('Earth', inplace=True)
nave_completo['Age'].fillna('Earth', inplace=True)
nave_completo['VIP'].fillna('Earth', inplace=True)
nave_completo['RoomService'].fillna('Earth', inplace=True)
nave_completo['FoodCourt'].fillna('Earth', inplace=True)
nave_completo['ShoppingMall'].fillna('Earth', inplace=True)
nave_completo['Spa'].fillna('Earth', inplace=True)
nave_completo['VRDec'].fillna('Earth', inplace=True)
nave_completo['Name'].fillna('Earth', inplace=True)
nave_completo['HomePlanet'].fillna('Earth', inplace=True)

In [224]:
nave_completo['CabinNum'].value_counts()

82      34
56      28
4       28
230     27
31      27
        ..
1839     1
1834     1
1802     1
1817     1
1865     1
Name: CabinNum, Length: 1894, dtype: int64

In [27]:
# Pessoas do mesmo PassengerGrupo vão todas para o mesmo planeta
grupo_PassengerGrupo = nave_completo.groupby(['PassengerGrupo']).nunique()
grupo_PassengerGrupo['HomePlanet'].value_counts()

1    9124
0     156
Name: HomePlanet, dtype: int64

In [28]:
linha = 0
lista = []
for i in nave_completo['HomePlanet']:
    if pd.isna(i) and nave_completo.iloc[linha,0] == nave_completo.iloc[(linha-1),0]:
        lista.append(nave_completo.iloc[(linha-1),2])
    else:
        lista.append(nave_completo.iloc[linha,2])
    linha += 1

In [29]:
nave_completo['HomePlanet'] = lista

<ipython-input-29-4ff76f4c4524>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nave_completo['HomePlanet'] = lista

In [30]:
nave_completo.isnull().sum()

PassengerGrupo        0
PassengerNumero       0
HomePlanet          205
CryoSleep           310
CabinDeck           299
CabinNum            299
CabinSide           299
Destination         274
Age                 270
VIP                 296
RoomService         263
FoodCourt           289
ShoppingMall        306
Spa                 284
VRDeck              268
Name                294
Transported        4277
dtype: int64

In [38]:
nave_completo.head(10)

,PassengerGrupo,PassengerNumero,HomePlanet,CryoSleep,CabinDeck,CabinNum,CabinSide,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001,01,Europa,False,B,0,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002,01,Earth,False,F,0,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003,01,Europa,False,A,0,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003,02,Europa,False,A,0,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004,01,Earth,False,F,1,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005,01,Earth,False,F,0,P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006,01,Earth,False,F,2,S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006,02,Earth,True,G,0,S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007,01,Earth,False,F,3,S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008,01,Europa,True,B,1,P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [203]:
def filtrar (coluna_filtrada, coluna_verificada):
    for i in nave_completo[coluna_filtrada].unique():
        itens =  nave_completo[nave_completo[coluna_filtrada]==i][coluna_verificada].unique()
        quantidade = nave_completo[nave_completo[coluna_filtrada]==i][coluna_verificada].count()
        print(i, '-->', itens, '-->', quantidade)
        
filtrar('VIP','CryoSleep')

False --> [False True nan] --> 12106
True --> [False True nan] --> 267
nan --> [] --> 0

In [179]:
nave_completo[nave_completo['CabinDeck']=='B']['HomePlanet'].fillna('Europa', inplace=True)

In [187]:
nave_completo[nave_completo['CabinDeck']=='B']['HomePlanet'].unique()

array(['Europa', nan], dtype=object)