## <font color='yellow'>Nave titanic</font>

In [153]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder #para tratamento de atributos categóricos, transforma string em número
from sklearn.preprocessing import OneHotEncoder #codificar os valores das variáveis para evitar interpretação errada do algorítmo
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler #para padronização dos dados
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score, KFold # validaçaõ cruzada

In [154]:
nave_train = pd.read_csv('train.csv')
nave_test = pd.read_csv('test.csv')

In [155]:
nave_completo = pd.concat([nave_train, nave_test], ignore_index=True)
nave_completo

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

In [156]:
nave_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   12970 non-null  object
 1   HomePlanet    12682 non-null  object
 2   CryoSleep     12660 non-null  object
 3   Cabin         12671 non-null  object
 4   Destination   12696 non-null  object
 5   Age           12700 non-null  float64
 6   VIP           12674 non-null  object
 7   RoomService   12707 non-null  float64
 8   FoodCourt     12681 non-null  float64
 9   ShoppingMall  12664 non-null  float64
 10  Spa           12686 non-null  float64
 11  VRDeck        12702 non-null  float64
 12  Name          12676 non-null  object
 13  Transported   8693 non-null   object
dtypes: float64(6), object(8)
memory usage: 1.4+ MB

In [157]:
nave_completo.nunique()

PassengerId     12970
HomePlanet          3
CryoSleep           2
Cabin            9825
Destination         3
Age                80
VIP                 2
RoomService      1578
FoodCourt        1953
ShoppingMall     1367
Spa              1679
VRDeck           1642
Name            12629
Transported         2
dtype: int64

In [158]:
nave_completo.isnull().sum()

PassengerId        0
HomePlanet       288
CryoSleep        310
Cabin            299
Destination      274
Age              270
VIP              296
RoomService      263
FoodCourt        289
ShoppingMall     306
Spa              284
VRDeck           268
Name             294
Transported     4277
dtype: int64

In [159]:
PassengerGrupos = nave_completo['PassengerId'].str.split('_', expand=True)[0]
PassengerNumeros = nave_completo['PassengerId'].str.split('_', expand=True)[1]
CabinDeck = nave_completo['Cabin'].str.split('/', expand=True)[0]
CabinNum = nave_completo['Cabin'].str.split('/', expand=True)[1]
CabinSide = nave_completo['Cabin'].str.split('/', expand=True)[2]

In [160]:
nave_completo['PassengerGrupo'] = PassengerGrupos
nave_completo['PassengerNumero'] = PassengerNumeros
nave_completo['CabinDeck'] = CabinDeck
nave_completo['CabinNum'] = CabinNum
nave_completo['CabinSide'] = CabinSide
nave_completo = nave_completo[['PassengerGrupo', 'PassengerNumero', 'HomePlanet', 'CryoSleep', 'CabinDeck',
                               'CabinNum', 'CabinSide','Destination', 'Age', 'VIP', 'RoomService', 
                               'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Name', 'Transported']]

In [163]:
# Pessoas do mesmo PassengerGrupo vão todas para o mesmo planeta
grupo_PassengerGrupo = nave_completo.groupby(['PassengerGrupo']).nunique()
grupo_PassengerGrupo['HomePlanet'].value_counts()

1    9124
0     156
Name: HomePlanet, dtype: int64

In [168]:
linha = 0
lista = []
for i in nave_completo['HomePlanet']:
    if pd.isna(i) and nave_completo.iloc[linha,0] == nave_completo.iloc[(linha-1),0]:
        lista.append(nave_completo.iloc[(linha-1),2])
    else:
        lista.append(nave_completo.iloc[linha,2])
    linha += 1

In [169]:
nave_completo['HomePlanet'] = lista

<ipython-input-169-4ff76f4c4524>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nave_completo['HomePlanet'] = lista

In [176]:
nave_completo.nunique()

PassengerGrupo      9280
PassengerNumero        8
HomePlanet             3
CryoSleep              2
CabinDeck              8
CabinNum            1894
CabinSide              2
Destination            3
Age                   80
VIP                    2
RoomService         1578
FoodCourt           1953
ShoppingMall        1367
Spa                 1679
VRDeck              1642
Name               12629
Transported            2
dtype: int64

In [127]:
nave_completo['HomePlanet'].replace(['Earth','Europa','Mars'], [0, 1, 2], inplace=True)
nave_completo['CryoSleep'].replace([True, False], [0, 1], inplace=True)
nave_completo['Destination'].replace(['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22'], [0, 1, 2], inplace=True)
nave_completo['VIP'].replace([True, False], [0, 1], inplace=True)

In [133]:
nave_completo[['HomePlanet', 'CryoSleep', 'Destination', 'VIP']].corr()

             HomePlanet  CryoSleep  Destination       VIP
HomePlanet     1.000000  -0.091858    -0.164032 -0.123098
CryoSleep     -0.091858   1.000000    -0.122273 -0.079417
Destination   -0.164032  -0.122273     1.000000 -0.019089
VIP           -0.123098  -0.079417    -0.019089  1.000000